@use 'fonts';
@use 'colors';

header {
    margin: 61px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list {
        display: flex;
        &__item {
            font-size: 18px;
            font-weight: bold;
            color: colors.$main-txt-color;
            text-decoration: none;
            &__projects {
                position: relative;
                right: 19px;
            }
        }
    }
}
